---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Empresa de Servicio Especial Espetours',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Conoce mas',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Quienes Somos', href: '#features' },
    ]}
    image={{ src: 'https://espetours.com/wp-content/uploads/2023/11/espetoursWay.jpeg', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      EMPRESA DE SERVICIO ESPECIAL <span class="hidden xl:inline">ESPETOURS SAS</span>
      <span class="text-accent dark:text-white highlight"></span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Espetours:</span> Innovando en el Mundo del Transporte - Tu Socio de Confianza para
        Servicios de Transporte Especializado en Empresas, Educación, Turismo, Usuarios del servicio de salud y Grupos Específicos de
        Usuarios</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Impulsado por Nuestra Pasión por la Tecnología en la Prestación de Transporte"
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="LA EMPRESA"
    subtitle="Espetours SAS, es una empresa de servicio público de transporte terrestre automotor especial, creada en el 2015 en Ibagué, con el objeto de satisfacer las necesidades de servicio de transporte a empleados, estudiantes, turistas y particulares. La empresa cuenta con una amplia experiencia en todas las áreas de este tipo de servicio, comprometida con la seguridad de nuestros usuarios, el mejoramiento continuo en los procesos y la idoneidad de su talento humano. El Ministerio de transporte a través de la Resolución No.000072 del 08 de octubre de 2018 mantiene la habilitación de la Empresa de Servicio Especial ESPETOURS de conformidad con el Decreto 1079 del 26 de mayo de 2015, modificado por el Decreto 431 de marzo de 2017"
    items={[
      
      {
        title: 'MISION',
        description:
          'Ofrecer servicio de transporte de estudiantes, empleados, turistas, grupo específico de usuarios (transporte de particulares) y usuarios del servicio de salud. Cumplimos con la normatividad exigida, bajo lineamientos de seguridad y confiabilidad a nuestros usuarios, sostenida por personal idóneo y un parque automotor de última tecnología.`',
        icon: 'tabler:components',
      },
      {
        title: 'VISION',
        description:
          'Ser reconocidos como una empresa líder a nivel regional por nuestra excelente prestación de servicio de transporte especial. Brindamos servicios a estudiantes, empleados, turistas, grupo específico de usuarios (transporte de particulares) y usuarios del servicio de salud con responsabilidad social, de manera segura y confiable. Lo logramos a través de un talento humano calificado y un parque automotor de última tecnología.',
        icon: 'tabler:list-check',
      },
      {
        title: 'HISTORIA',
        description:
          'Espetours SAS es una empresa de servicio público de transporte terrestre automotor especial, creada en el 2015 en Ibagué. Nuestro objetivo es satisfacer las necesidades de servicio de transporte a empleados, estudiantes, turistas y particulares. A pesar de nuestro poco tiempo de creación, contamos con amplia experiencia en todas las áreas de este tipo de servicio. Nos comprometemos con la seguridad de nuestros usuarios, el mejoramiento continuo en los procesos y la idoneidad de nuestro talento humano.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'GOBIERNO CORPORATIVO',
        description:
          'El Gobierno Corporativo de Espetours es la clara expresión del compromiso con la gestión, la transparencia, la integridad moral y el estricto cumplimiento del ordenamiento jurídico en la operación de la empresa.El Comité de Gobierno Corporativo impartió su aprobación a través del Acta No. 003 de 2020. Estamos comprometidos con los principios y valores en el obrar. El Comité de Gobierno Corporativo está desplegando acciones pendientes a la reglamentación e incorporación de políticas que serán los lineamientos para la transformación institucional de la empresa.',
        icon: 'tabler:rocket',
      },
      {
        title: 'VALORES',
        description:
          "Nuestra principal prioridad es la seguridad de nuestros usuarios. Nos comprometemos a mantener los más altos estándares de seguridad en todos nuestros servicios. Buscamos constantemente el mejoramiento continuo en nuestros procesos y servicios para garantizar la satisfacción y confianza de nuestros clientes.Contamos con un equipo altamente capacitado y comprometido, asegurando un servicio de calidad y la atención adecuada a las necesidades de nuestros clientes.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'RESPONSABILIDAD SOCIAL',
        description:
          'Invertimos en un parque automotor de última tecnología para garantizar eficiencia, comodidad y seguridad en cada uno de nuestros servicios..',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="SERVICIOS"
    title="Viaja con Amabilidad: Espetours, Tu Opción Certificada en Transporte Especial"
    items={[
      {
        title: 'Grupo específico de usuarios',
        description:
          '"¡Atención, Estrellas del Viaje! 🌟 ¿Tienes un grupo listo para la diversión? ¡Espetours te lleva en una experiencia única! Ofrecemos un servicio especial para usuarios particulares, un viaje express desde un punto de encuentro épico hasta tu destino soñado. ¡Sube a bordo de nuestros vehículos llenos de onda con más de 30 pasajeros! Importante: ¡Este viaje no es para estudiantes, es para aventureros como tú! 🚀🎉"',
      },
      
    ]}
    image={{
      src: 'https://espetours.com/wp-content/uploads/2023/11/comodidad.png',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Descubre la Comodidad en Movimiento: Nuestros Servicios en Espetours</h3>
      Explora una forma única de viajar con Espetours, donde la comodidad y la seguridad se unen. Nuestros servicios te ofrecen una experiencia de transporte excepcional, respaldada por la calidad que nos distingue. ¡Viaja con nosotros y descubre el placer de moverte con amabilidad y confianza!" 🌟🚗
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Estudiantes',
        description: `"¡La Ruta Estudiantil de Espetours! 📚🚌 Prepárate para un viaje educativo lleno de risas y amistades. En Espetours, ofrecemos un transporte especial diseñado para estudiantes como tú, desde un punto de encuentro lleno de energía hasta el destino académico. Nuestros vehículos están listos para llevarte en un viaje lleno de aprendizaje y diversión. ¡Súbete con tus compañeros de clase y haz que cada trayecto sea parte de la aventura escolar! Nota importante: Este viaje está exclusivamente reservado para estudiantes que buscan experiencias increíbles en cada parada. 🎓🚌"`,
      },
      {
        title: 'Usuarios del servicio de salud',
        description:
          '"¡Cuidado sobre Ruedas con Espetours! 🌡️🚑 En Espetours, nos enorgullece ofrecer un servicio de transporte especial dedicado a la salud y el bienestar. Desde un punto de encuentro cuidadosamente seleccionado hasta tu destino de atención médica, nuestros vehículos están equipados para brindarte un viaje cómodo y seguro. Si eres un valioso usuario del servicio de salud, confía en nosotros para proporcionarte un transporte amable y confiable. ¡Nos preocupamos por tu bienestar en cada kilómetro del trayecto! ',
      },
      
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
   
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Turistas',
        description:
          '"¡Bienvenidos a la Ruta de la Diversión! 🌍🚌 En Espetours, llevamos la experiencia turística a otro nivel. Nuestro servicio especial está diseñado para transportar a esos intrépidos viajeros desde un punto de encuentro lleno de expectativas hasta un destino lleno de descubrimientos. ¡Sube a bordo de nuestros vehículos espaciosos y prepárate para vivir la aventura! Nota importante: Este viaje es exclusivo para turistas, ¡prepárate para un recorrido lleno de momentos inolvidables! 🏞️',
      },
      {
        title: 'Empresarial',
        description:
          '"¡Negocios en Movimiento! 🏢✨ Espetours SAS te trae una experiencia única en transporte empresarial. Imagina un viaje exprés desde la oficina hasta ese evento crucial, todo en un vehículo exclusivo. Estamos aquí para llevar tu equipo de trabajo con estilo y comodidad. ¡Sube a bordo de la ruta del éxito con Espetours! Nota importante: Este viaje está diseñado exclusivamente para el mundo empresarial, ¡donde cada kilómetro cuenta hacia el triunfo! 🚀👔"',
      },
     
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
   
  <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Conduce hacia el Éxito con Espetours: Tu Vehículo, Nuestra Aventura Compartida"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Registro Fácil:</span>',
        description:
          "Completa nuestro sencillo formulario de registro en línea en espertours.com/registro-vehicular. Proporciona la información básica de tu vehículo y detalles de contacto.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Evaluación y Aprobación:</em>',
        description:
          "Nuestro equipo revisará tu solicitud y se pondrá en contacto contigo para coordinar una evaluación de tu vehículo.Una vez aprobado, recibirás la bienvenida oficial a la familia de Espetours..",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">¡Listo para Rodar!</span>',
        description:
          'Obtén acceso a nuestra plataforma para que gestiones tus FUEC cuando quieras, a la hora que quieras, sin limites. Comienza a disfrutar de los beneficios de ser parte de la red de Espetours y lleva la experiencia de viaje a nuevos horizontes.',
        icon: 'tabler:paint',
      },
      {
        title: 'Listos!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Navegando Juntos: Descubre Nuestras Políticas para un Viaje sin Preocupaciones"
    subtitle="Descubre la Tranquilidad en el Camino: En Espetours, nuestras políticas están diseñadas para garantizar tu seguridad, comodidad y satisfacción en cada viaje. Explora las directrices que nos guían y experimenta la confianza de viajar con nosotros. Tu bienestar es nuestra prioridad número uno en la carretera. 🛣️🌟"
    tagline="Políticas"
    items={[
      {
        title: 'Política de transporte y seguridad vial',
      description: `Seguridad en Cada Kilómetro: En Espetours, implementamos rigurosas políticas de transporte y seguridad vial. Desde la selección cuidadosa de conductores hasta el mantenimiento constante de nuestros vehículos, nos comprometemos a garantizar un viaje sin preocupaciones para cada pasajero. Tu tranquilidad es nuestra prioridad en el camino. 🚗✨ <a href='/transport' onclick="event.preventDefault(); window.location = window.location.origin + (window.location.origin.includes('localhost') ? '' : '/dist') + '/transport';">Más información aquí</a>`,
      icon: 'flat-color-icons:template',
      link: '/transport.md'
      },
      {
        title: 'Prevencion del consumo de sustancias piscoactivas, alcohol, drogas y tabaco',
        description:
          `Cuidamos de tu bienestar: En Espetours, nos comprometemos firmemente con la prevención del consumo de sustancias psicoactivas, alcohol, drogas y tabaco. Nuestra prioridad es brindar un entorno seguro y saludable para todos nuestros pasajeros y colaboradores. Viajar con nosotros es disfrutar de trayectos libres de preocupaciones, donde tu seguridad y comodidad son nuestra principal meta. 🚭✨ <a href='/transport' onclick="event.preventDefault(); window.location = window.location.origin + (window.location.origin.includes('localhost') ? '' : '/dist') + '/drugs';">Más información aquí</a>`,
        icon: 'flat-color-icons:gallery',
        link: '/drugs.md'
      },
      {
        title: 'Política de proteccion de datos',
        description:
        "Tu Privacidad, Nuestra Prioridad: En Espetours, valoramos y protegemos tus datos con la máxima seriedad. Nuestra política de protección de datos garantiza la confidencialidad y seguridad de la información que compartes con nosotros. Puedes confiar en que tu privacidad está en buenas manos mientras te acompañamos en cada tramo de tu viaje. 🌐🔒 <a href='/data'>Más información aquí</a>",
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Sistema integrado de gestión',
        description:
        "Eficiencia en Acción: En Espetours, hemos implementado un sistema integrado de gestión para optimizar nuestras operaciones. Nuestro sistema asegura procesos fluidos y mejoras continuas. Te ofrecemos un viaje más eficiente y seguro a cada destino. 🔄✨",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Manual de funciones',
        description:
        "Hoja de Ruta para el Éxito: Nuestro Manual de Funciones en Espetours es la brújula que guía a cada miembro de nuestro equipo. Detallando roles y responsabilidades, este manual es clave para mantener la armonía en nuestras operaciones. Cada página representa un compromiso con la excelencia, asegurando que cada función se desempeñe con maestría para ofrecerte la mejor experiencia de viaje. 📘🛣️ <a href='/manual'>Más información aquí</a>",
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Registro Nacional de Turismo',
        description: "Seguridad y Confiabilidad: En Espetours, estamos orgullosos de formar parte del Registro Nacional de Turismo. Este distintivo respalda nuestra dedicación a estándares de calidad y transparencia. Viajar con nosotros significa confiar en un servicio que cumple con las regulaciones turísticas, asegurando tu tranquilidad en cada aventura. 🏛️🔒 <a href='https://espetours.com/wp-content/uploads/2023/03/rnt2023-2024.pdf'>Más información aquí</a>",
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Encuentra muchos mas contenidos en nuestro blog"
    information={`Viaje a Través de la Experiencia: Descubre Todo lo que Necesitas Saber sobre Transporte en Nuestro Catálogo de Blogs.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Respuestas Claras para Viajes sin Complicaciones: Explora nuestra sección de Preguntas Frecuentes para obtener información rápida y precisa. Hemos recopilado las respuestas que necesitas para garantizar un viaje sin complicaciones. ¡Despeja tus dudas y prepárate para una experiencia de viaje perfecta con Espetours! 🌐❓"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Cómo puedo afiliarme como conductor a Espetours?',
        description:
          "Para unirte como conductor afiliado, simplemente completa el formulario de registro en nuestra plataforma en línea y sigue los pasos indicados para la aprobación.",
      },
      {
        title: '¿Cuánto tiempo toma el proceso de aprobación como conductor?',
        description:
          'El proceso de aprobación suele ser rápido. Una vez que completes el registro, nuestro equipo revisará tu solicitud y te notificará en breve.',
      },
      {
        title: '¿Cuáles son las políticas de seguridad implementadas por Espetours?',
        description:
          "En Espetours, implementamos rigurosas políticas de seguridad, desde la selección cuidadosa de conductores hasta el mantenimiento constante de nuestros vehículos, garantizando la seguridad de nuestros pasajeros.",
      },
      {
        title: "¿Cuántos FUEC tengo derecho como afiliado y cuál es su costo?",
        description:
          "Como afiliado, tienes derecho a todos los FUEC que necesites con las credenciales asignadas para acceso a la plataforma. El valor de los FUEC es 0.",
      },
      {
        title: '¿Cómo se manejan las evaluaciones y retroalimentaciones de los usuarios hacia los conductores afiliados?',
        description:
          "Valoramos la retroalimentación de los usuarios y la utilizamos para mejorar constantemente nuestros servicios. Las evaluaciones y comentarios proporcionados por los usuarios son considerados de manera constructiva para garantizar la calidad y la seguridad en cada viaje.",
      },
      {
        title: ' ¿Cómo puedo resolver problemas técnicos o consultas relacionadas con la plataforma?',
        description:
          "Si tienes problemas técnicos o preguntas, nuestro equipo de soporte está disponible para ayudarte. Puedes comunicarte a través de nuestra línea de soporte o utilizar la sección de ayuda en la plataforma.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Kilómetros Recorridos', amount: '132K' },
      { title: 'Viajes Realizados', amount: '645' },
      { title: 'Años de Experiencia:', amount: '8' },
      { title: 'Tiempo de Respuesta', amount: '10min' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contáctanos',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Viaja con Estilo y Seguridad: <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Solicita tu Cotización Personalizada hoy</span>
    </Fragment>

    <Fragment slot="subtitle">
      Experimenta el Viaje de tus Sueños:  <br class="hidden md:inline" />Descubre la Diferencia en Cada Kilómetro al Obtener tu Cotización Personalizada Hoy
    </Fragment>
  </CallToAction>
</Layout>
